<div class="container">
    <div class="div-titulo">
        <h1>
            Impostômetro
        </h1>
        <h2>
            Programa de Educação Fiscal de Ibirama
        </h2>
    </div>
    <div class="div-iframes">
        <div class="ui-g-12 ui-fluid">
            <iframe id="impostometro" src="https://impostometro.com.br/widget/contador/" width="728" height="113" scrolling="no" frameborder="0"></iframe>
        </div>
        <div class="ui-g-12 ui-fluid">
            <iframe id="impostometro" src="https://impostometro.com.br/widget/contador/sc" width="728" height="113" scrolling="no" frameborder="0"></iframe>
        </div>
        <div class="ui-g-12 ui-fluid">
            <iframe id="impostometro" src="https://impostometro.com.br/widget/contador/sc?municipio=ibirama" width="728" height="113" scrolling="no" frameborder="0"></iframe>
        </div>
    </div>
    <div class="ui-g-12 ui-fluid">
        <div style="padding-left: 130px; padding-top: 55px;" class="ui-g-4 ui-fluid">
            <img src="../assets/logoPrefIbirama.jpg">
        </div>
        <div style="padding-left: 17px;" class="ui-g-4 ui-fluid">
            <iframe src="http://www.sonegometro.com/widget_300x220_txt" scrolling="no" frameborder="0" style="margin:auto; border:0px; width:300; height:210px; overflow:hidden;"></iframe>
        </div>
        <div style="padding-right: 10px;" class="ui-g-4 ui-fluid">
            <img src="../assets/udesc.png">
        </div>
    </div>
</div>