body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

@media (min-width: 800px) {
    .container {
        width: 1000px;
        margin: 0 auto;
    }
}

.div-titulo {
    text-align: center;
}

.div-iframes {
    margin-left: 13%;
}